* {
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 18px;
}

.container {
  padding: 0 5vw;
  margin: 140px auto;
  max-width: 880px;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

a, a:visited {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 46px;
  line-height: 60px;
  margin-bottom: 60px;
}

h2 {
  font-size: 32px;
  line-height: 38px;
  /* line-height: 42px; */
  display: inline;
  vertical-align: baseline;
  padding-right: 24px;
}

h3 {
  display: inline;
  vertical-align: baseline;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  padding-right: 6px;
}

p {
  line-height: 20px;
  display: table;
  padding: 4px 0 1px 0;
  /* padding-left: 0.8em; */
  /* text-indent:-0.8em; */
}

.detail {
  display: none;
}

p ~ h3 {
  padding-top: 48px;
}

.row {
  /* display: flex; */
  /* border-top: 1px solid rgba(0,0,0,0.1); */
  padding: 20px 40px;
}

.row:first-child {
  padding: 0 0 60px 0;
}

.col {
  padding: 0 42px 0 0;
  flex-grow: 1;
  flex-basis: 0;
}

img {
  background-color: black;
  width: 100%;
  height: 100%;
}

.col .group {
  padding-bottom: 42px;
}

::selection {
  background: yellow;
}
::-moz-selection {
  background: yellow;
}

@media (max-width: 1070px) {

}

@media (max-width: 740px) {
  h1 {
    font-size: 32px;
    line-height: 40px;
  }
}
