@font-face {
    font-family: 'Tofino';
    src: url('tofino-ultra.woff2') format('woff2'),
         url('tofino-ultra.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'Affogato';
    src: url('affogato-regular.woff2') format('woff2'),
         url('affogato-regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Circular Std';
    src: url('Circular/CircularStd-Book.woff2') format('woff2'),
        url('Circular/CircularStd-Book.woff') format('woff'),
        url('Circular/CircularStd-Book.ttf') format('truetype'),
        url('Circular/CircularStd-Book.svg#CircularStd-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('Circular/CircularStd-Black.woff2') format('woff2'),
        url('Circular/CircularStd-Black.woff') format('woff'),
        url('Circular/CircularStd-Black.ttf') format('truetype'),
        url('Circular/CircularStd-Black.svg#CircularStd-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}
