---
---

@import 'base'
@import 'reset'
@import 'layout'
@import 'typography'

h1
  max-width: 880px
  font-weight: normal
  margin: 0 auto
  padding: 0 5vw
  font-size: 46px
  line-height: 60px
  @include theme('color', $primary-color-dark)

@media (max-width: 740px), (pointer: coarse)
  h1
    font-size: 24px
    line-height: 32px
