* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 1000px;
  margin: 120px auto;
  font-size: 14px;
  text-align: justify;
}

h3 {
  padding-bottom: 8px;
  font-size: 14px;
}

a {
  color: black;
  text-decoration: underline;
}

p {
  padding-bottom: 16px;
  line-height: 16px;
}

p ~ h3 {
  padding-top: 18px;
}

.no-space p {
  line-height: normal;
  padding-bottom: 2px;
}

.row {
  display: flex;
}

.col {
  flex: 33%;
  padding: 22px;
}

@media only screen and (max-width: 600px) {
  body {
    width: 100%;
    margin-top: 40px;
  }

  .row {
    display: block;
  }

  .col {
    /* padding-top: 0; */
    padding-bottom: 0;
  }
}
