@import url("../fonts/fonts.css");

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", sans-serif;
  color: #312F32;
  padding: 12% 10% 20px 10%;
}

h1 {
  font-size: 40px;
  margin-bottom: 80px;
}

p {
  font-weight: 200;
  font-size: 24px;
  line-height: 38px;
  margin-bottom: 38px;
  max-width: 650px;
}

a {
  text-decoration: none;
  color: #73A1D0;
}

@media only screen and (max-width: 620px) {
  body {
    padding: 20% 10% 20px 10%;
  }

  h1 {
    font-size: 40px;
    margin-bottom: 40px;
  }

  p {
    font-size: 18px;
    line-height: 28px;
  }
}
