@import url("../fonts/fonts.css");

* {
  margin: 0;
  padding: 0;
  transition: all 0.2s ease;
}

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  background: white;
  /*background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 50%, #35495d 50%, #35495d 100%);
  background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#35495d 50%,#35495d 100%);
  background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 50%,#35495d 50%,#35495d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#35495d',GradientType=0 );*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Affogato', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  text-transform: uppercase;
  font-family: 'Tofino', sans-serif;
  font-weight: 900;
}

main section {
  padding: 75px 150px;
}

main section:first-child {
  padding: 150px;
}

main section:first-child h1 {
  font-size: 60px;
  line-height: 60px;
  color: #031927;
  letter-spacing: 5px;
}

main section h3 {
  color: white;
  letter-spacing: 2.5px;
  font-size: 40px;
  margin-bottom: 40px;
}

main section:first-child a {
  color: #99A4AE;
  text-decoration: none;
  border-bottom: 2px dotted white;
}

main section:first-child a:hover {
  border-bottom: 2px dotted #E8E9EB;
}

main section ul {
  list-style: none;
}

main section ul li {
  font-size: 40px;
  /*text-transform: uppercase;*/
  color: #E8E9EB;
  letter-spacing: 2px;
  display: inline-block;
}

main section p {
  color: white;
  font-size: 26px;
}

@media only screen and (max-width: 750px) {
  main section:first-child {
    padding: 20% 10%;
  }

  main section:first-child h1 {
    font-size: 60px;
    line-height: 65px;
    margin-bottom: 0;
  }

  main section ul li {
    font-size: 40px;
  }

  main section {
    padding: 10% 50px;
  }
}
