---
---

@import "typography";

h1 {
  max-width: 880px;
  padding: 0 5vw;
  margin: 140px auto;
  font-weight: normal;
  font-size: 46px;
  line-height: 60px;
}

a, a:visited {
  color: black;
  text-decoration: none;
}

::selection {
  background: clear;
}

::-moz-selection {
  background: clear;
}
