---
---

<!doctype html>
<html>
  <head>
    {% include _common.html %}
    <link rel='stylesheet' href='{{ 'assets/styles/work.css' | relative_url }}' />
    <title>{{ site.title }} / {{ page.title }}</title>
  </head>
  <body>
    <main>
      <div class='grid'>
        <div>
          <p>{{ page.title }} <br />{{ page.shortdate }}</p>
        </div>
        <div>
          {% if page.description %}
            <p>{{ page.description | markdownify }}</p>
          {% else %}
            {{ content | markdownify }}
          {% endif %}
        </div>
        {% for i in (1..page.images) %}
        <div class='work' style="background-image: url('../assets/work/{{ page.slug }}/min/{{ i }}.jpg')"></div>
        {% endfor %}
      </div>
    </main>

    {% include analytics.html %}
  </body>
</html>
